<style>
    table {
    border: 0;
    }
    table td, table th {
        border: 1px solid black;
    }
</style>
<h2>Balances<h2>

<table style="font-size:14px;font-weight:400;border-collapse: collapse;padding: 15px;border: 1px solid rgb(126, 126, 126);">
    <tr>
        <th>Exchange</th>
        <th>Symbol</th>
        <th>Amount</th>
        <th>USD price</th>
        <th>USD Value</th>
    </tr>
    {% for bal in balances %}
    <tr>
        <td>{{bal.exchange}}</td>
        <td>{{bal.symbol}}</td>
        <td>{{bal.amount}}</td>
        <td>{{bal.USDprice}}</td>
        <td>{{bal.USDvalue}}</td>
    </tr>
    {% endfor %}
</table>
<hr>&nbsp;

<table style="font-size:14px;font-weight:400;border-collapse: collapse;padding: 15px;border: 1px solid rgb(126, 126, 126);">
    <tr>
        <th>Exchange</th>
        <th>Total</th>
    </tr>
    {% for x in per %}
    <tr>
        <td>{{x.exchange}}</td>
        <td>{{x.USDvalue}}</td>
    </tr>
    {% endfor %}
</table>

<hr>&nbsp;

<table style="font-size:14px;font-weight:400;border-collapse: collapse;padding: 15px;border: 1px solid rgb(126, 126, 126);">
    <tr>
        <th>Currency</th>
        <th>Total</th>
    </tr>
    {% for x in per_currency %}
    <tr>
        <td>{{x.symbol}}</td>
        <td>{{x.USDvalue}}</td>
    </tr>
    {% endfor %}
</table>


<p style="font-size:12px;font-weight:400">Total: {{total}} $</p>